.title-icon {
  font-size: xx-large;
  display: inline-block;
  margin-right: 10px;
}

.start-button {
  display: inline-block;
}

.title {
  display: inline-block;
  font-size: xx-large;
  margin-right: 10px;
}
